<div >
  <h5>
    Edit User Account
  </h5>

  <div>
    <form action="/modify_user" method="post">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div>
        <label for="user_name_box">User name</label>
        <input id="user_name_box" name="query_user_name" value="<%= @current_user.user_name %>">
      </div>
      <div>
        <label for="user_location_box">User location</label>
        <input id="user_location_box" name="query_user_location" value="<%= @current_user.user_location %>">
      </div>
      <div>
        <label for="items_count_box">Items count</label>
        <input id="items_count_box" name="query_items_count" value="<%= @current_user.items_count %>">
      </div>

      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
